html, body{ width: 100%; height: 100%; padding: 0; margin: 0; overflow: hidden;}
*{ box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.pages{ width: 100%; height: 100%; overflow: hidden;}
.page{ position: absolute;width: 100%; height: 100%; top: 0; z-index: 0;}
.page-1:nth-child(1){ border:4px solid blue;}

.hearder{ background-color: cyan; color: #000; height: 50px;}
.header-title{ font-size: 26px; line-height: 50px; text-align: center;}
.header-btn{ line-height: 50px; padding: 0 10px;}



.cells{ display: -webkit-box;}
.cells-middle{ -webkit-box-align: center;}
.cell-fit{ -webkit-box-flex: 1;}




/*页面切换动效*/
.pageFromRightToCenter {
    animation: pageFromRightToCenter 400ms forwards;
    -webkit-animation: pageFromRightToCenter 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenter {
    from {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
}
.pageFromCenterToRight {
    animation: pageFromCenterToRight 400ms forwards;
    -webkit-animation: pageFromCenterToRight 400ms forwards;
}
@-webkit-keyframes pageFromCenterToRight {
    from {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
    }
}

/*页面加载中动效*/
.loading{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #eee;}
.loading-img{ background: url("../image/loading/loading5.gif") center no-repeat; width: 32px; height: 32px;
    position: absolute; left: 50%; top: 50%; margin-left: -16px; margin-top: -16px; background-size: 32px 32px;}